@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

body {
	background-image: url(./images/burger.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

div.jumbotron {
	background-color: transparent;
	color: blue;
	font-weight: bolder;
	font-style: normal;
	font-size: xx-large;
	margin-top: -30px;
	margin-bottom: -50px;
}

div.main {
	background-color:transparent;
}

/* Add burger form styling */

label[for="burger"] {
	visibility: hidden;
}

div.add-burger {
	width: 60%;
	background-color:orange;
	opacity: 1;
	padding: 20px;
	margin-bottom: 50px;
}

div.add-burger h2 {
	font-size: 2rem;
	font-family: 'Times New Roman', Times, serif;
	padding-top: 20px;
}

/* Burger list styling */

div.burgers {
	margin: 10px;
}

div.burgers .burger-heading {
	font-size: 2rem;
	padding: 20px;
	font-family: 'Times New Roman', Times, serif;
}

div.burger-col {
	background-color: orange;
	min-height: 300px;
}

li.burger-li {
	background-color: orange;
	list-style-type: none;
	border-bottom: 1px solid black;
}

ul.burgers {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}